* {
	margin: 0px;
	padding: 0px;
}
header {
	position: relative;
	color: white;
	width: 100%;
    height : 150px;
    background: linear-gradient(to left, rgba(255, 104, 39,0.4), rgba(255, 104, 39, 1)); /*Standard*/
	clear: left;
	text-align: center;
}
h2 {
	display: inline;
	float: left;
	margin-top: 15px;
	padding: 5px;
	height: 100%;
	font-size: 3.8em;
}
.login fieldset {
	border: 0px;
	width: 100%;
}
.label {
	font-size: 45px;
	color: #282828;
}
.h2:after {
	clear: both;
}
.element {
	padding: 7px;
}

input {
	width: 500px;
	font-size: 40px;
	height: 50px;
	margin: 10px;
	border-color: rgba(255, 104, 39, 0.7);
}
.btn {
	margin-left : 15px;
	margin-top : 20px;
	padding: 10px;
	border: none;
	background-color: rgba(255, 104, 39, 0.9);
	color: #FFFFFF;
	font-size: 45px;
}
.sectionId {
	margin: 10px;
	font-size: 50px;
	color: #282828;
	border-color: rgba(255, 104, 39, 0.7);
}